body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0f172a;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
